<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">{{
        "ACCOUNTROLEMANAGEMENT.DANHSACHTAIKHOAN" | translate
      }}</span>
    </div>
    <div class="card-toolbar">
      <button mat-raised-button class="ja_btn-addnew" (click)="create()">
        {{ "ACCOUNTROLEMANAGEMENT.THEMTAIKHOAN" | translate }}
      </button>
    </div>
  </div>

  <!-- body -->
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div
          style="margin-left: 15px"
          class="col-lg-6"
          [formGroup]="searchGroup"
        >
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Tìm kiếm theo họ tên"
            value=""
            formControlName="searchTerm"
          />
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <div
      class="table-responsive angular-bootstrap-table"
      [ngStyle]="{ height: getHeight() }"
    >
      <table
        mat-table
        class="table table-head-custom table-vertical-center overflow-hidden"
        [dataSource]="accountroleManagementService.items$ | async"
      >
        <ng-container matColumnDef="rowid">
          <th *matHeaderCellDef class="mat-column-vinCode">
            <span>RowId</span>
            <app-sort-icon
              column="rowid"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.RowId }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="hoten">
          <th *matHeaderCellDef>
            <span>{{ "ACCOUNTROLEMANAGEMENT.HOTEN" | translate }}</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.Fullname }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="dienthoai">
          <th *matHeaderCellDef>
            <span>{{ "ACCOUNTROLEMANAGEMENT.DIENTHOAI" | translate }}</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.Mobile }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef>
            <span>{{ "ACCOUNTROLEMANAGEMENT.EMAIL" | translate }}</span>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.Email }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef class="mat-column-vinCode">
            <span>Username</span>
            <app-sort-icon
              column="username"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <td mat-cell *matCellDef="let r">
            <span>{{ r.Username }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="tacvu">
          <th
            *matHeaderCellDef
            style="padding-left: 0; text-align: center; color: white"
          >
            <span>{{ "PARTNERMANAGEMENT.TACVU" | translate }}</span>
            <app-sort-icon
              column="tacvu"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <td mat-cell *matCellDef="let r" style="text-align: center">
            <mat-icon
              (click)="updateStatusRole(r)"
              style="cursor: pointer; color: #3378d8; font-size: 16px"
              aria-hidden="false"
            >
              settings</mat-icon
            >
            &nbsp;
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="tacvu">
          <th *matHeaderCellDef style="text-align: center">
            <span>{{'COMMOM.TACVU' | translate}}</span>
          </th>
          <td mat-cell *matCellDef="let r" style="text-align: center">
            <mat-icon (click)="update(r)" style="cursor: pointer; color: #1BC5BD; font-size:16px" aria-hidden="false">
              mode_edit</mat-icon>
            &nbsp;
          </td>
        </ng-container> -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="row.highlighted = !row.highlighted"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
