<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <span class="dialog-title">{{ 'COMMOM.DOIMATKHAU' | translate }}</span>
    </div>
    <div class="modal-title" style="display: inline">
      <button
        [disabled]="(isLoadingSubmit$ | async) || itemForm.hasError('notSame')"
        [class.spinner]="isLoadingSubmit$ | async"
        mat-raised-button
        style="float: right; margin: 0"
        class="ja_btn-addnew"
        (click)="onSubmit()"
      >
        {{ 'COMMOM.LUU' | translate }}
      </button>
      <button mat-raised-button style="margin-right: 12px" class="ja_btn-goback" (click)="goBack()">
        {{ 'COMMOM.TROLAI' | translate }}
      </button>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body overflow-auto">
    <ng-container>
      <form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input
                type="password"
                class="require"
                formControlName="MatKhauCu"
                placeholder="{{ 'COMMOM.MATKHAUCU' | translate }}"
                matInput
                required
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input
                type="password"
                class="require"
                formControlName="MatKhau"
                placeholder="{{ 'COMMOM.MATKHAUMOI' | translate }}"
                matInput
                required
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input
                type="password"
                class="require"
                formControlName="NhapLaiMatKhau"
                placeholder="{{ 'COMMOM.NHAPLAIMATKHAUMOI' | translate }}"
                matInput
                required
              />
            </mat-form-field>
            <mat-error *ngIf="itemForm.hasError('notSame')"> {{ 'COMMOM.MATKHAUKHONGTRUNGKHOP' | translate }}</mat-error>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
