<div
  class="modal-content"
  [ngClass]="{ expanded: isExpanded, collapsed: !isExpanded }"
>
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <span class="dialog-title">IMPORT DỮ LIỆU</span>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body overflow-auto"
    style="min-height: 201px; max-height: 70vh"
  >
    <ng-container *ngIf="nhomtaisanManagementService.isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="form-group row">
        <div class="col-lg-8">
          <mat-form-field class="example-full-width">
            <input
              class="input-batbuoc mat-focused required"
              required
              matInput
              type="text"
              [value]="selectedFile"
              disabled
            />
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <button
            mat-raised-button
            class="ja_btn-addnew"
            (click)="fileInput.click()"
          >
            <mat-icon
              style="color: #bebebe; font-size: 16px"
              aria-hidden="false"
            >
              upload_file</mat-icon
            >Chọn file
          </button>
          <input
            type="file"
            style="display: none"
            #fileInput
            (change)="onFileChange($event)"
            accept=".xlsx, .xls"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <button mat-raised-button class="ja_btn-addnew" (click)="import()">
            <mat-icon
              style="color: #ffffff; font-size: 16px"
              aria-hidden="false"
            >
              import_contacts</mat-icon
            >Import dữ liệu
          </button>
        </div>
        <div class="col-lg-2">
          <button
            mat-raised-button
            style="
              float: right;
              margin-right: 12px;
              color: white;
              background-color: #ff3b3b;
            "
            class="ja_btn-goback"
            (click)="downloadTemplate()"
          >
            <mat-icon
              style="color: #ffffff; font-size: 16px"
              aria-hidden="false"
            >
              swap_vert</mat-icon
            >Tải file mẫu
          </button>
        </div>
      </div>
    </ng-container>
    <div class="modal-body">
      <div class="modal-title" style="display: inline; flex: 2">
        <button
          mat-raised-button
          style="
            float: right;
            margin-right: 12px;
            color: #ffffff;
            background-color: #ff3b3b;
          "
          class="ja_btn-goback"
          (click)="goBack()"
        >
          Trở lại
        </button>
      </div>
    </div>
  </div>
</div>
