.expanded {
  width: 900px; /* Đặt chiều rộng mong muốn khi phóng to */
  height: 700px; /* Đặt chiều cao mong muốn khi phóng to */
}

.collapsed {
  width: 900px; /* Đặt chiều rộng mong muốn khi thu nhỏ */
  height: 500px; /* Đặt chiều cao mong muốn khi thu nhỏ */
}
