<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <span class="card-label">XUẤT XỨ</span>
    </div>
    <div class="card-toolbar">
      <button
        mat-raised-button
        class="ja_btn-addnew"
        style="margin-right: 10px"
        (click)="create()"
        *ngIf="Visible"
      >
        Thêm mới
      </button>
    </div>
  </div>

  <!-- body -->
  <div class="card-body">
    <div class="kt-form">
      <div class="kt-form__filtration">
        <div class="row align-items-center">
          <div
            class="col-md-3 kt-margin-bottom-10-mobile"
            [formGroup]="searchGroup"
          >
            <mat-form-field class="mat-form-field-fluid">
              <input
                matInput
                placeholder="Tìm kiếm"
                #searchInput
                name="searchText"
                formControlName="searchTerm"
              />
              <mat-hint align="start">
                Tìm kiếm <strong>tất cả dữ liệu</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div
        class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
        [ngClass]="{ show: selection.selected.length > 0 }"
      >
        <div class="col-xl-12">
          <div class="kt-form__group kt-form__group--inline">
            <div
              class="kt-form__label kt-form__label-no-wrap"
              style="float: left; margin-right: 10px; margin-top: 10px"
            >
              <label class="kt--font-bold kt-font-danger-" *ngIf="Visible"
                >Số lượng đã chọn: {{ selection.selected.length }}</label
              >
            </div>
            <div
              class="kt-form__control kt-form__group--inline"
              style="float: left"
            >
              <button
                mat-raised-button
                color="warn"
                (click)="deleteDM_XuatXus()"
                matTooltip="Xóa xuất xứ được chọn"
                class="mat-button-mt-4"
                *ngIf="Visible"
              >
                <mat-icon>delete</mat-icon>
                Xóa xuất xứ</button
              >&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="table-responsive angular-bootstrap-table"
      [ngStyle]="{ height: getHeight() }"
    >
      <table
        mat-table
        class="table table-head-custom table-vertical-center overflow-hidden"
        [dataSource]="xuatxuManagementService.items$ | async"
      >
        <ng-container matColumnDef="CheckBox">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="mat-column-checkbox"
            style="padding-right: 20px"
          >
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [color]="'primary'"
            >
            </mat-checkbox>
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="mat-column-checkbox"
            style="padding-right: 20px; width: 20px"
          >
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [color]="'primary'"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="select">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="mat-column-checkbox"
            style="padding-right: 20px"
          >
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [color]="'primary'"
            >
            </mat-checkbox>
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="mat-column-checkbox"
            style="padding-right: 20px; width: 20px"
          >
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [color]="'primary'"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="STT">
          <th *matHeaderCellDef class="mat-column-vinCode">
            <span>#</span>
          </th>
          <td mat-cell *matCellDef="let r; let i = index">
            <span>{{ i + 1 }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="TenXuatXu">
          <th *matHeaderCellDef class="mat-column-vinCode">
            <span>Tên xuất xứ</span>
            <!-- <app-sort-icon
              column="TenXuatXu"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon> -->
          </th>
          <td
            mat-cell
            *matCellDef="let r"
            (click)="showDetail(r)"
            style="text-decoration: underline; color: #2180df"
          >
            <span>{{ r.TenXuatXu }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="ThaoTac">
          <th *matHeaderCellDef style="text-align: center">
            <span>{{ "COMMOM.THAOTHAC" | translate }}</span>
          </th>
          <td
            mat-cell
            *matCellDef="let r"
            style="text-align: center"
            colspan="2"
          >
            <mat-icon
              (click)="update(r)"
              style="
                cursor: pointer;
                margin-right: 10px;
                color: #2180df;
                font-size: 16px;
              "
              aria-hidden="false"
              *ngIf="Visible"
            >
              mode_edit</mat-icon
            >
            &nbsp;
            <mat-icon
              (click)="delete(r)"
              style="cursor: pointer; color: #f52020; font-size: 16px"
              aria-hidden="false"
              *ngIf="Visible"
            >
              delete</mat-icon
            >
            &nbsp;
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="getVisibleColumns(); sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: getVisibleColumns()"
          (click)="row.highlighted = !row.highlighted"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
