<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <span class="dialog-title">{{'CUSTOMER_ADDNUMBERSTAFF.TITLE' | translate}}</span>
    </div>
    <div class="modal-title" style="display: inline;">
      <button [disabled]="isLoadingSubmit$ | async" [class.spinner]="isLoadingSubmit$ | async" mat-raised-button
        style="float: right; margin: 0" class="ja_btn-addnew  " (click)="onSubmit()">{{'COMMOM.LUU' |
        translate}}</button>
      <button mat-raised-button style="float: right; margin: 0; margin-right: 12px;" class="ja_btn-goback "
        (click)="goBack()">{{'COMMOM.TROLAI' | translate}}</button>
    </div>
  </div>
  <div class="card-body" style="padding: 0 !important;">
    <div class="table-responsive angular-bootstrap-table">
      <table mat-table class=" table table-head-custom table-vertical-center overflow-hidden "
        [dataSource]="appCustomerCodes$ | async">
        <ng-container matColumnDef="tenapp">
          <th *matHeaderCellDef>
            <span>{{'customermanagement.tenapp' | translate}}</span>
          </th>
          <td mat-cell *matCellDef="let r">
            {{r.AppName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="soluongnhansudangsudung">
          <th *matHeaderCellDef>
            <span>{{'customermanagement.soluongnhansudangsudung' | translate}}</span>
          </th>
          <td mat-cell *matCellDef="let r">
            {{r.SoLuongNhanSu}}
          </td>
        </ng-container>

        <ng-container matColumnDef="addsoluongnhansu">
          <th *matHeaderCellDef>
            <mat-form-field class="example-full-width">
              <input [formControl]="inputSoLuongForm" (change)="changeSoLuong()" class="input-thuong mat-focused"
                matInput type="text" placeholder="{{'customermanagement.themsoluong' | translate}}">
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let r; let i = index">
            <mat-form-field class="example-full-width">
              <input [formControl]="soluongnhansuArrayFrom[i]" class="input-batbuoc mat-focused required" required
                matInput type="text" disabled>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="ketqua">
          <th *matHeaderCellDef>
            <span>{{'customermanagement.ketqua' | translate}}</span>
          </th>
          <td mat-cell *matCellDef="let r; let i = index">
            <span style="font-weight: 900;">{{item.lstCustomerAppDTO[i].SoLuongNhanSu}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef=" displayedColumns; sticky: true">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted;"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
      </table>
    </div>
  </div>
</div>